body {
  margin: 0;
}

.left-div {
  margin: 50px 32% 30px 30px;
  padding: 8px 16px;
}

.navbar ul {
  list-style-type: none;
  margin-top: 10%;
  padding: 0;
  right: 10%;
  width: 16%;
  background-color: #f1f1f1;
  position: fixed;
  height: auto;
  border: 1px solid #555;
}

.navbar li {
  border-bottom: 1px solid #555;
}

.navbar li:last-child {
  border-bottom: none;
}

.navbar li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
  overflow-x: auto;
}

.navbar li a.active {
  background-color: #04AA6D;
  color: white;
}

.navbar li a:hover:not(.active) {
  background-color: #555;
  color: white;
}